<div class="row">
    <% personalities.each do |personality| %>
        <div class="col-md-2 mb-5">
            <%= render personality %>
            <% description = personality.choices.where(user: user).first.description %>
            <% unless description.blank? %>
                <blockquote><%= description %></blockquote>
            <% end %>
        </div>
    <% end %>
</div>