<div class="row">
    <% personalities.each do |personality| %>
        <div class="col-md-2 mb-5">
            <%= render personality %>
            <blockquote>
                <%= personality.choices.where(user: user).first.description %>
            </blockquote>
        </div>
    <% end %>
</div>