<h1 class="mt-5">Mon Panthéon personnel</h1>
<div class="text-center mt-5">
	
<p>Pour pouvoir créer votre Panthéon personnel, vous devez vous inscrire ou vous connecter.</p>
<%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'Connexion', new_user_session_path, class: 'btn btn-primary' %>
</div>
