<h1 class="mt-5 mb-5">Mon Panthéon personnel</h1>

<%= render 'personalities/search' %>

<%= render 'users/personalities', choices: current_user.choices, user: current_user %>

<%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'btn btn-light btn-sm mb-3' %>