<h1><%= current_user %></h1>

<%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'btn btn-light btn-sm mb-3' %>

<%= render 'personalities/search' %>

<%= render 'users/personalities', personalities: @personalities, user: current_user %>