<div class="row mb-5">
    <div class="col-md-6 offset-md-3">
        <%= form_tag personality_search_path, class: 'mb-3 form-row' do %>
            <div class="form-group col-9">
                <input  type="text"
                        placeholder="Entrez le nom d'une personnalité"
                        name="name"
                        class="form-control"
                        autofocus>
                </div>
            <div class="form-group col-3">
                <%= submit_tag 'Trouver', class: 'btn btn-primary btn-block' %>
            </div>
            <p><%= notice %></p>
        <% end %>
    </div>
</div>