<h1 class="m-5">Personnalités</h1>

<%= render 'personalities/search' %>

<div class="row">
  <% @personalities.each do |personality| %>
    <div class="col-md-2 mb-5">
        <%= link_to personality do %>
            <%= image_tag personality.photo, class: 'img-fluid' if personality.photo %>
            <%= personality.to_s %>
        <% end %>
    </div>
  <% end %>
</div>
