<h1>Personnalités</h1>

<div class="row">
  <% @personalities.each do |personality| %>
    <div class="col-md-3">
      <%= link_to personality do %>
        <%= image_tag personality.photo %>
        <%= personality.to_s %>
      <% end %>
    </tr>
  <% end %>
</div>
