<h1 class="m-5">Personnalités</h1>

<%= render 'personalities/search' %>

<div class="row">
  <% @personalities.each do |personality| %>
    <div class="col-md-2 mb-5">
        <%= render personality %>
    </div>
  <% end %>
</div>
