$theme-colors: ('primary': #000000)
$font1: 'IM Fell Great Primer'
$font2: 'Roboto Condensed', sans-serif

@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400i|Roboto+Condensed:400,400i,700,700i&display=swap')
@import 'bootstrap'

*
    font-family: $font2

h1
    font-family: $font1
    text-align: center

h2
    font-size: 0.8rem
    text-transform: uppercase
    margin: 20px 0

h3
    font-size: 1rem
    font-weight: bold

a:hover
    text-decoration: none

.personality
    &__photo
        background-position: center 20%
        background-repeat: no-repeat
        background-size: cover
        height: 0
        padding-bottom: 100%
        position: relative
        width: 100%
        border-radius: 50%
        height: auto
        max-width: 100%
    &__name
        margin-top: 10px
        text-align: center
        font-family: $font1

blockquote
    font-family: $font1
    font-style: italic
    font-weight: 1.1rem
    text-align: center
    &:before
        content: '“'
    &:after
        content: '”'

.navbar
    .navbar-brand
        font-family: $font1
        letter-spacing: 3px
        text-transform: uppercase
        line-height: 1.2rem
        span
            display: block
            font-family: $font2
            text-transform: none
            font-size: 9px
            letter-spacing: 0
            margin-top: -5px

    .nav-link
        font-family: $font2
        font-size: 12px
        text-transform: uppercase
        color: black